/*
 *= require webjars/leaflet-draw/0.4.14/dist/leaflet.draw-src.css
 *= require webjars/Leaflet.Coordinates/0.1.5/dist/Leaflet.Coordinates-0.1.5.css
 *= require webjars/Leaflet.Coordinates/0.1.5/dist/Leaflet.Coordinates-0.1.5.ie.css
 *= require webjars/leaflet-easybutton/1.2.0/src/easy-button.css
 *= require webjars/leaflet-control-geocoder/1.5.5/dist/Control.Geocoder.css
 *= require webjars/leaflet.markercluster/0.5.0/dist/MarkerCluster.css
 *= require webjars/leaflet.markercluster/0.5.0/dist/MarkerCluster.Default.css
 *= require webjars/leaflet-loading/0.1.24/src/Control.Loading.css
 */